In [2]:
import pandas as pd
import numpy as nm

In [3]:
data = pd.read_csv('titanic.csv',index_col='PassengerId')
totalPeopleCount = data['Name'].count()

In [8]:
print(totalPeopleCount)

891

In [9]:
mans = data.where(data['Sex'] == 'male')
print("mans count: {:4d}".format(mans['Name'].count()))

mans count:  577

In [10]:
womans = data.where(data['Sex'] == 'female')
print("womans count: {:4d}".format(womans['Name'].count()))

womans count:  314

In [31]:
survived = data.where(data['Survived'] == 1)
survivedPeopleCount = survived['Name'].count()
survivedManCount = survived.where(data['Sex'] == 'male')['Name'].count()
survivedWomanCount = survived.where(data['Sex'] == 'female')['Name'].count()
survivedPeoplePercentage = survivedPeopleCount / totalPeopleCount * 100
print("survived people {:d}".format(survivedPeopleCount))
print("survived man count {:d}".format(survivedManCount))
print("survived woman count {:d}".format(survivedWomanCount))
print("survived percentage {0}".format(survivedPeoplePercentage))

survived people 342
survived man count 109
survived woman count 233
survived percentage 38.38383838383838

In [20]:
firstClassPeopleCount = data.where(data['Pclass'] == 1)['Name'].count()
firstClassPeoplePercentage = firstClassPeopleCount / totalPeopleCount * 100
print("first class percentage {0}".format(firstClassPeoplePercentage))

first class percentage 24.242424242424242

In [25]:
averageAge = nm.sum(data['Age']) / totalPeopleCount
print("average age {0}".format(averageAge))

average age 23.79929292929293

In [28]:
medianAge = data['Age'].median()
print(medianAge)

28.0

In [14]:
sibsp = data[['SibSp', 'Parch']]
parch = data['Parch']

In [15]:
correlation = sibsp.corr()
print(correlation)

          SibSp     Parch
SibSp  1.000000  0.414838
Parch  0.414838  1.000000

In [4]:
womanFullNames = data.where(data['Sex'] == 'female')['Name']
print(womanFullNames)

PassengerId
1                                                    NaN
2      Cumings, Mrs. John Bradley (Florence Briggs Th...
3                                 Heikkinen, Miss. Laina
4           Futrelle, Mrs. Jacques Heath (Lily May Peel)
5                                                    NaN
                             ...
887                                                  NaN
888                         Graham, Miss. Margaret Edith
889             Johnston, Miss. Catherine Helen "Carrie"
890                                                  NaN
891                                                  NaN
Name: Name, Length: 891, dtype: object

In [19]:
import re
womanFirstNames = womanFullNames.str.extract('((A-Z){2}(a-z)(1,))')
print(womanFirstNames[:10])

               0    1
PassengerId
1            NaN  NaN
2            NaN  NaN
3            NaN  NaN
4            NaN  NaN
5            NaN  NaN
6            NaN  NaN
7            NaN  NaN
8            NaN  NaN
9            NaN  NaN
10           NaN  NaN